html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --first-color: #ffffff;
  --second-color: #212121;
  --third-color: #757575;
  --accent-color: #2196f3;
  --backcolor: #2f303a;
  --svg-pic-color: #afb1b8;

  --space-measure: 0.03em;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--third-color);
}
.list,
.nav-list,
.contact-list,
.values,
.examples,
.team,
.social-net,
.client-list,
.impressum,
.corporate-social-net,
.button-list,
.works {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*a {
    display: inherit;
}*/
/*h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}*/
img {
  display: block;
}
/*header {
    padding-top: 25px;
    padding-bottom: 25px;
}*/
.banner-title,
.section-title,
.values-title,
.values-descr,
.team-member,
.team-member-position,
.join,
.works-title,
.works-type,
.modal-title {
  padding: 0;
  margin: 0;
}
.head-container,
.banner,
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.portfolio-header {
  border-bottom: 1px solid #ececec;
}
.head-container {
  padding-top: 25px;
  padding-bottom: 25px;

  display: flex;
  align-items: center;
}
.logo {
  color: var(--second-color);

  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: var(--space-measure);

  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}
.nav-list,
.contact-list {
  display: flex;
}
.nav-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-list {
  margin-left: auto;
}
.site-nav-link {
  position: relative;

  margin: 0;
  padding: 32px 0 32px 0;

  color: var(--second-color);

  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.first::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;
  bottom: 0;

  background-color: var(--accent-color);

  border-radius: 2px;

  width: 100%;
  height: 4px;
}
/*first для тукущей страницы*/
.first,
.site-nav-link:hover,
.site-nav-link:focus,
.contact:hover,
.contact:focus,
.under-contact:hover,
.under-contact:focus {
  color: var(--accent-color);
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover .icon-contact,
.contact:focus .icon-contact {
  fill: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: flex;
  align-items: center;

  color: var(--third-color);

  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.icon-contact {
  margin-right: 10px;

  fill: var(--third-color);
}
.envelope {
  width: 16px;
  height: 12px;
}
.phone {
  width: 10px;
  height: 16px;
}
.hero {
  /*background-image: linear-gradient(to center, rgba(47, 48, 58, 0.658), rgba(47, 48, 58, 0.4));*/
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;

  padding-top: 200px;
  padding-bottom: 200px;

  /*height: 600px;*/
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-title {
  color: var(--first-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;
  text-align: center;
  /*white-space: pre;*/
  letter-spacing: 0.06em;

  margin-bottom: 30px;
}
.blue-button {
  display: inline-block;

  background-color: var(--accent-color);
  width: 200px;
  height: 50px;

  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--first-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
.blue-button:hover,
.blue-button:focus {
  cursor: pointer;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.values-section {
  padding-top: 94px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--second-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--space-measure);

  margin-bottom: 50px;
}
.values-img {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
}
.values-icon {
  width: 70px;
  height: 70px;
}
/*.clock {
    width:  70px;
    height: 70px;
}
.diagram {
    width: 70px;
    height: 70px;
}
.astronaut{
    width: 70px;
    height: 70px;
}*/
.values {
  display: flex;
  justify-content: space-between;
}
.values-item {
  width: 270px;
}
.values-title {
  color: var(--second-color);

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: var(--space-measure);
  text-transform: uppercase;

  margin-bottom: 10px;
}
.values-descr {
  font-weight: 400;
  line-height: 1.7;

  letter-spacing: var(--space-measure);
}
.examples {
  display: flex;
  justify-content: space-between;
}
.example-img {
  position: relative;
}
.example-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  position: absolute;
  left: 0;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
}
.example-title {
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--space-measure);
  text-transform: uppercase;

  color: var(--first-color);
}
.stuff {
  background-color: #f5f4fa;
}
.team > li {
  background-color: var(--first-color);

  padding-bottom: 24px;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team {
  display: flex;
  justify-content: space-between;
}
.team-member {
  color: var(--second-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: var(--space-measure);

  padding-top: 30px;
  padding-bottom: 10px;
}
.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: var(--space-measure);

  margin-bottom: 16px;
}
.social-net {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  /*background-color: red;*/
}
.social-link:not(:last-child) {
  margin-right: 10px;
}
.social-link-icon {
  width: 20px;
  height: 20px;

  fill: var(--svg-pic-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--accent-color);
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus .social-link-icon,
.social-link:hover .social-link-icon {
  fill: var(--first-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list {
  display: flex;
}
.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border-radius: 4px;
  border: 1px solid var(--svg-pic-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client {
  fill: var(--svg-pic-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-1 {
  width: 44.27px;
  height: 49.23px;
}
.logo-2 {
  width: 40px;
  height: 52px;
}
.logo-3 {
  width: 41px;
  height: 42.6px;
}
.logo-4 {
  width: 79.66px;
  height: 40.02px;
}
.logo-5 {
  width: 59px;
  height: 47px;
}
.logo-6 {
  width: 88.5px;
  height: 45.44px;
}
.client-item:hover,
.client-item:focus {
  border: 1px solid var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item:hover .client,
.client-item:focus .client {
  fill: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer {
  background-color: var(--backcolor);

  padding-top: 60px;
  padding-bottom: 60px;
}
footer .container {
  display: flex;
}
.under {
  color: var(--first-color);
}
.impressum {
  color: var(--first-color);
  font-style: normal;

  display: block;
  padding-top: 20px;
}
.impressum li:not(:last-child) {
  margin-bottom: 9px;
}
.under-contact {
  color: rgba(100%, 100%, 100%, 60%);

  font-weight: 400;
  line-height: 1.7;

  text-decoration: none;
  letter-spacing: var(--space-measure);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-net-block {
  width: 206px;

  margin-left: 69px;
}
.corporate-social-net {
  display: flex;
  justify-content: flex-start;
}
.join {
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--first-color);

  margin-bottom: 20px;
  padding-top: 12px;
}
.corporate-social-net .social-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.corporate-social-net .social-link:hover,
.corporate-social-net .social-link:focus {
  background-color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.corporate-social-net .social-link-icon {
  fill: var(--first-color);
}
.subscribe-block {
  margin-left: 94px;
}
.form-futter {
  display: flex;
  align-items: center;

  margin-top: 20px;
}
.subscribe-mail {
  padding: 15px 16px 15px 16px;
  margin-right: 12px;

  width: 358px;
  height: 50px;

  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--space-measure);
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.telegram-icon {
  display: inline-block;
  margin-left: 10px;

  width: 24px;
  height: 24px;

  fill: var(--first-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(+100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: var(--first-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--first-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  cursor: pointer;

  border: 1px solid var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 11px;
  height: 11px;
}
.modal-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--space-measure);
  color: var(--second-color);
}
/* Форма: оформление*/
.form {
  width: 100%;
  height: 100%;

  margin-top: 30px;
}
.label {
  position: relative;

  display: block;

  width: 100%;

  margin-bottom: 28px;
}
.user-data {
  width: 100%;
  padding: 12px 12px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;

  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
}

.label-descr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Roboto;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--third-color);
}
.label:hover .form-icon,
.label:focus .form-icon,
.user-data:not(:placeholder-shown) ~ .form-icon {
  fill: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label:hover .form-icon,
.label:focus .form-icon {
  cursor: pointer;
}
.user-data:hover,
.user-data:focus {
  border: 1px solid var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.user-name:hover .label-descr,
.user-name:focus .label-descr,
.user-name > .user-data:not(:placeholder-shown) + .label-descr {
  transform: translate(-90%, -270%);

  color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-tel:hover .label-descr,
.user-tel:focus .label-descr,
.user-tel > .user-data:not(:placeholder-shown) + .label-descr {
  transform: translate(-50%, -270%);

  color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-email:hover .label-descr,
.user-email:focus .label-descr,
.user-email > .user-data:not(:placeholder-shown) + .label-descr {
  transform: translate(-60%, -270%);

  color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Коментарии*/
.comment-label {
  margin-bottom: 20px;
}
.comment {
  resize: none;

  width: 100%;

  padding: 12px 16px 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-descr {
  position: absolute;
  top: 12px;
  left: 16px;
}
.comment-label:hover .comment,
.comment-label:focus .comment {
  border: 1px solid var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.comment-label:hover .comment-descr,
.comment-label:focus .comment-descr,
.comment:not(:placeholder-shown) + .comment-descr {
  transform: translateY(-200%);

  color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.datapolicy {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.datapolicy-label {
  position: relative;

  display: flex;
  align-items: center;

  margin-top: 30px;
}
.datapolicy-consent::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -24px;

  align-items: center;

  width: 16px;
  height: 15px;

  display: block;
  border-radius: 2px;

  background-color: transparent;
  background-image: url(../image/uncheck-icon.svg);
  background-size: contain;

  cursor: pointer;
}
.datapolicy:checked ~ .datapolicy-consent::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -24px;

  align-items: center;

  width: 16px;
  height: 15px;

  display: block;
  border-radius: 2px;

  background-image: url(../image/checkbox.svg);
  background-size: contain;
  background-color: var(--accent-color);
}

/*
.datapolicy:checked + .consent-check-icon {
  background-image: url(../image/check-icon.svg);
  background-color: var(--accent-color);
  background-size: contain;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.datapolicy:not(:checked) + .consent-check-icon {
  background-image: url(../image/uncheck-icon.svg);
  background-color: transparent;
  background-size: contain;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.datapolicy-consent {
  position: absolute;
  left: 36.38px;

  align-items: center;

  font-family: Roboto;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: var(--space-measure);
  color: var(--third-color);
}
.datapolicy-link {
  color: var(--accent-color);
}
.send-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.button {
  background-color: #f5f4fa;

  color: var(--second-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  text-align: center;
  letter-spacing: var(--space-measure);

  border-radius: 4px;
  border: transparent;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--first-color);
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list {
  display: flex;
  justify-content: center;

  /*padding-right: 295px;
    padding-left: 295px;*/
  margin-bottom: 50px;
}
.button-list li:not(:last-child) {
  margin-right: 8px;
}
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.works li {
  width: calc(100% / 3-20px);

  /*background-color: teal;*/
  margin-bottom: 30px;
}
.works-view {
  position: relative;
  overflow: hidden;
  /*position: absolute;*/
}
.works-overlay {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  padding: 0 24px 0 24px;

  opacity: 0;

  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-descr {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--space-measure);

  color: var(--first-color);
}
.works > li:hover,
.works > li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works > li:hover .works-overlay,
.works > li:focus .works-overlay {
  opacity: 1;
  transform: translateX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-descr {
  border: 1px solid #eeeeee;
  border-top: 0px solid transparent;
}
.works li:nth-child(-n + 3) {
  margin-bottom: 30px;
}
.works a {
  text-decoration: none;
}
.works-title {
  color: var(--second-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 4px;
  padding-left: 24px;
}
.works-type {
  color: var(--third-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: var(--space-measure);

  margin-top: 0;
  padding-bottom: 20px;
  padding-left: 24px;
}
